h1 {
    background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 6px;
}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}